/*Color scheme according to colors.css*/

html {
    background-color: #214B6A;/*var(--primary-color)*/                        /*primary-color*/
}
body {
    color: #E5EBFF;
    padding: 0;
    margin: 0;
}
img {
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 250px;
}
nav {
    color: #E5EBFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333333;/*var(--dark-grey)*/                            /*dark-grey*/
}
h1 {
    color: #E5EBFF;
    text-align: center;
    padding: 25px;
}
nav a {
    color: #E5EBFF;/*var(--text-color)*/                                        /*text-color*/
    text-decoration: none;
    padding: 16px 20px;
}
nav a:hover {
    background-color: #4CAF50;/*var(--accent-color)*/                         /*accent-color*/
    color: #333333
}
footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    bottom: 0px;
    width: 99.5%;
    background-color: #333333;  
    color:#E5EBFF;
}

#bottom-table-container {
    
    border-collapse: collapse;
    border: 1px solid #333333;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333333;
    
}

#bottom-table-container td {
    border: 1px solid #333333;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #CCCCCC;
    color: #333333;
}

/*new changes*/
#top-table-container {
    margin: 0 auto;
    width: 750px;
    border: 2px solid #333333;
    color: #333333;
}
#top-table-container td {
    background-color: #CCCCCC;
    color: #333333;

}
button {
    background-color: #333333;
    color: #CCCCCC;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

button:hover {
    background-color: #CCCCCC;
    color: #333333;
}
.content input[type="text"] {
    width: auto;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 10px;
    border: 0.5px solid ;
    border-radius: 10px;
    margin: auto;
}